
/* 标签重定义 */
body {
    padding: 0;
    margin: 0;
    /*background: #ddd url(images/bg.jpg) repeat;*/
    background: rgb(31,31,31);
}

img {
    border: none;
}

a {
    text-decoration: none;
    /*color: #444;*/
}

/*a:hover {*/
/*color: #999;*/
/*}*/

#title {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

/* 定义关键帧 */
@-webkit-keyframes shade {
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes shade {
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes shade {
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes shade {
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes shade {
    from {
        opacity: 1;
    }
    15% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* wrap */
#wrap {
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
}

#wrap .box {
    /*width: 280px;*/
    width: 380px;
    height: auto;
    padding: 10px;
    border: none;
    float: left;
}

#wrap .box .info {
    width: 380px;
    /*width: 280px;*/
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 11px #666;
    background: rgb(150,150,150);
}

#wrap .box .info .pic {
    width: 360px;
    /*width: 260px;*/
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
}

#wrap .box .info .pic:hover {
    -webkit-animation: shade 3s ease-in-out 1;
    -moz-animation: shade 3s ease-in-out 1;
    -ms-animation: shade 3s ease-in-out 1;
    -o-animation: shade 3s ease-in-out 1;
    animation: shade 3s ease-in-out 1;
}

#wrap .box .info .pic img {
    /*width: 260px;*/
    width: 360px;
    /*height: 400px;*/
    border-radius: 3px;
}

#wrap .box .info .title {
    /*width: 260px;*/
    width: 360px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
#wrap .box .info .title a{
    color: #444;
}
#wrap .box .info .title a:hover{
    color: rgb(220,220,220);
}
#title{
    margin-top: 160px;
    color: rgb(230,230,230);
}

